<form id="form_padrino" name="form_padrino" method="post" action="<?php echo htmlspecialchars($_SERVER[\'PHP_SELF\']); ?>">
    <input type="hidden" name="persona" value="rol_padrino">
    <div class="form-group">
        <label for="dni">DNI</label>
        <input class="form-control" type="text" name="dni" id="dni"/>
        <br class="clear"/>
    </div>
    <div class="form-group">
        <label for="prepartida1">Prepartida1</label>
        <input class="form-control" type="text" name="prepartida1" id="prepartida1"/>
        <br class="clear"/>
        <label for="prepartida2">Prepartida2</label>
        <input class="form-control" type="text" name="prepartida2" id="prepartida2"/>
        <br class="clear"/>
        <label for="prepartida3">Prepartida3</label>
        <input class="form-control" type="text" name="prepartida3" id="prepartida3"/>
        <br class="clear"/>
        <label for="prepartida4">Prepartida4</label>
        <input class="form-control" type="text" name="prepartida4" id="prepartida4"/>
        <br class="clear"/>
    </div>
    <div class="form-group">
        <label for="partida1">Partida1</label>
        <input class="form-control" type="text" name="partida1" id="partida1"/>
        <br class="clear"/>
        <label for="partida2">Partida2</label>
        <input class="form-control" type="text" name="partida2" id="partida2"/>
        <br class="clear"/>
    </div>
    <div class="form-group">
        <label for="personalidad1">Personalidad1</label>
        <input class="form-control" type="text" name="personalidad1" id="personalidad1"/>
        <br class="clear"/>
        <label for="personalidad2">Personalidad2</label>
        <input class="form-control" type="text" name="personalidad2" id="personalidad2"/>
        <br class="clear"/>
    </div>
    <div class="form-group">
        <label for="ambiente1">Ambiente1</label>
        <input class="form-control" type="text" name="ambiente1" id="ambiente1"/>
        <br class="clear"/>
        <label for="ambiente2">Ambiente2</label>
        <input class="form-control" type="text" name="ambiente2" id="ambiente2"/>
        <br class="clear"/>
        <label for="ambiente3">Ambiente3</label>
        <input class="form-control" type="text" name="ambiente3" id="ambiente3"/>
        <br class="clear"/>
        <label for="ambiente4">Ambiente4</label>
        <input class="form-control" type="text" name="ambiente4" id="ambiente4"/>
        <br class="clear"/>
        <label for="ambiente5">Ambiente5</label>
        <input class="form-control" type="text" name="ambiente5" id="ambiente5"/>
        <br class="clear"/>
        <label for="ambiente6">Ambiente6</label>
        <input class="form-control" type="text" name="ambiente6" id="ambiente6"/>
        <br class="clear"/>
        <label for="ambiente7">Ambiente7</label>
        <input class="form-control" type="text" name="ambiente7" id="ambiente7"/>
        <br class="clear"/>
    </div>
    <div class="form-group">
        <label for="religiosidad1">Religiosidad1</label>
        <input class="form-control" type="text" name="religiosidad1" id="religiosidad1"/>
        <br class="clear"/>
        <label for="religiosidad2">Religiosidad2</label>
        <input class="form-control" type="text" name="religiosidad2" id="religiosidad2"/>
        <br class="clear"/>
    </div>
    <div class="form-group">
        <button type="submit" id="btn_submit_rol" class="btn btn-block btn-success">Registrar datos</button>
    </div>
</form>