<form id="form_partidista" name="form_partidista" method="post" action="<?php echo htmlspecialchars($_SERVER[\'PHP_SELF\']); ?>">
    <input class="form-control"  type="hidden" name="persona" value="rol_partidista">
    <div class="form-group">
        <label for="dni">DNI</label>
        <input class="form-control"  type="text" name="dni" id="dni"/>
        <br class="clear"/>
    </div>
    <div class="form-group">
        <label for="apodo">Apodo</label>
        <input class="form-control"  type="text" name="apodo" id="apodo"/>
        <br class="clear"/>
    </div>
    <div class="form-group">
        <label for="facultad">Facultad</label>
        <input class="form-control"  type="text" name="facultad" id="facultad"/>
        <br class="clear"/>
    </div>
    <div class="form-group">
        <label for="serv_emergencia">Serv Emergencia</label>
        <input class="form-control"  type="text" name="serv_emergencia" id="serv_emergencia"/>
        <br class="clear"/>
    </div>
    <div class="form-group">
        <label for="aspecto_personal1">Aspecto Personal1</label>
        <input class="form-control"  type="text" name="aspecto_personal1" id="aspecto_personal1"/>
        <br class="clear"/>
        <label for="aspecto_personal2">Aspecto Personal2</label>
        <input class="form-control"  type="text" name="aspecto_personal2" id="aspecto_personal2"/>
        <br class="clear"/>
        <label for="aspecto_personal3">Aspecto Personal3</label>
        <input class="form-control"  type="text" name="aspecto_personal3" id="aspecto_personal3"/>
        <br class="clear"/>
        <label for="aspecto_personal4">Aspecto Personal4</label>
        <input class="form-control"  type="text" name="aspecto_personal4" id="aspecto_personal4"/>
        <br class="clear"/>
        <label for="aspecto_personal5">Aspecto Personal5</label>
        <input class="form-control"  type="text" name="aspecto_personal5" id="aspecto_personal5"/>
        <br class="clear"/>
    </div>
    <div class="form-group">
        <label for="relacion_con_demas1">Relacion Con Demas1</label>
        <input class="form-control"  type="text" name="relacion_con_demas1" id="relacion_con_demas1"/>
        <br class="clear"/>
        <label for="relacion_con_demas2">Relacion Con Demas2</label>
        <input class="form-control"  type="text" name="relacion_con_demas2" id="relacion_con_demas2"/>
        <br class="clear"/>
        <label for="relacion_con_demas3">Relacion Con Demas3</label>
        <input class="form-control"  type="text" name="relacion_con_demas3" id="relacion_con_demas3"/>
        <br class="clear"/>
        <label for="relacion_con_demas4">Relacion Con Demas4</label>
        <input class="form-control"  type="text" name="relacion_con_demas4" id="relacion_con_demas4"/>
        <br class="clear"/>
        <label for="relacion_con_demas5">Relacion Con Demas5</label>
        <input class="form-control"  type="text" name="relacion_con_demas5" id="relacion_con_demas5"/>
        <br class="clear"/>
        <label for="relacion_con_demas6">Relacion Con Demas6</label>
        <input class="form-control"  type="text" name="relacion_con_demas6" id="relacion_con_demas6"/>
        <br class="clear"/>
    </div>
    <div class="form-group">
        <label for="relacion_con_dios1">Relacion Con Dios1</label>
        <input class="form-control"  type="text" name="relacion_con_dios1" id="relacion_con_dios1"/>
        <br class="clear"/>
        <label for="relacion_con_dios2">Relacion Con Dios2</label>
        <input class="form-control"  type="text" name="relacion_con_dios2" id="relacion_con_dios2"/>
        <br class="clear"/>
        <label for="relacion_con_dios3">Relacion Con Dios3</label>
        <input class="form-control"  type="text" name="relacion_con_dios3" id="relacion_con_dios3"/>
        <br class="clear"/>
        <label for="relacion_con_dios4">Relacion Con Dios4</label>
        <input class="form-control"  type="text" name="relacion_con_dios4" id="relacion_con_dios4"/>
        <br class="clear"/>
        <label for="relacion_con_dios5">Relacion Con Dios5</label>
        <input class="form-control"  type="text" name="relacion_con_dios5" id="relacion_con_dios5"/>
        <br class="clear"/>
        <label for="relacion_con_dios6">Relacion Con Dios6</label>
        <input class="form-control"  type="text" name="relacion_con_dios6" id="relacion_con_dios6"/>
        <br class="clear"/>
        <label for="relacion_con_dios7">Relacion Con Dios7</label>
        <input class="form-control"  type="text" name="relacion_con_dios7" id="relacion_con_dios7"/>
        <br class="clear"/>
    </div>
    <div class="form-group">
        <button type="submit" id="btn_submit_rol" class="btn btn-block btn-success">Registrar datos</button>
    </div>
</form>