<div class="row" id="opt-holder">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center text-success"><strong>¡Felicitaciones!</strong> Ya estas registrado en nuestro sistema como usuario común</h2>
            <div class="alert alert-dismissable alert-warning">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>Aviso</h4>
                <div><strong>Recordá que para ingresar la próxima vez, podés hacerlo con tu DNI y la clave que
                    configuraste.</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><h3 class="text-center">
            ¿Querés responder las preguntas de inscripción ahora?</h3></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <button type="button" id="btn_no" class="btn btn-danger btn-block">No, respondo la próxima vez que entre
            </button>
        </div>
        <div class="col-md-4">
            <button type="button" id="btn_si" class="btn btn-success btn-block">
                Sí,quiero contestar ahora
            </button>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>